.login {
    /* background-color: #335a8d; */
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tituloLogin {
    color: white;
    text-align: center;
}

.login input {
    width: 60%;
    border-radius: 11px;
    /* border: none; */
    height: 30px;
    background: none;
    text-align: center;
    color: white;
}

.ingresar {
    width: 70%;
    border: none;
    height: 40px;
    background-color: rgba(226, 17, 181, 0.089);
    color: white;
    border-radius: 30px;
    font-size: large;
}